@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,400&subset=cyrillic);

//font-family: 'Open Sans', sans-serif;

/* Webfont: Lato-Bold */
//noinspection ALL
@font-face {
  font-family: 'LatoWebBold';
  src: url('../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */ url('../fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */
//noinspection ALL
@font-face {
  font-family: 'LatoWebLight';
  src: url('../fonts/Lato-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */ url('../fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

//noinspection ALL
/* Webfont: Lato-Regular */
//noinspection ALL
@font-face {
  font-family: 'LatoWeb';
  src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */ url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

$orange-color: #ff7100;
$red-color: #ff002a;

body, html {
  position: relative;
  height: 100%;
}

body {
  @media only screen and(max-width: $screen-md-min) {
    font-size: 10px;
  }
}

h1 {
  @media only screen and(max-width: $screen-md-min) {
    font-size: 20px;
  }
}

h2 {
  @media only screen and(max-width: $screen-md-min) {
    font-size: 16px;
  }
}

h1, .banner {
  font-weight: 700;
  color: white;
}

h2 {
  font-size: 1.7em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  &.section-header {
    font-size: 2.1em;
  }
}

a, button, input, textarea {
  &:focus {
    outline: none;
  }
}

.banner {
  display: inline-block;
  background-color: $brand-warning;
  font-size: 1.5em;
  padding: .25em 3em;
}

.orange {
  color: $orange-color;
}

.red {
  color: $red-color;
}

.black {
  color: $text-color !important;
}

.red-bg {
  background-color: $red-color;
}

.black {
  color: black;
}

.relative {
  position: relative;
}

.centered {
  margin: 0 auto;
}

.bold {
  font-weight: 700;
}

.padding-bottom-nul {
  padding-bottom: 0 !important;
}

.spacer {
  display: inline-block;
  height: 0;
  font-size: 0;
}

.btn-lg {
  padding: 0;
  font-size: 1em;
  height: 3.6em;
  line-height: 3.6em;
  width: 100%;
}

.btn-wrapper {
  max-width: 385px;
  margin: 0 auto;
}

.numbers {
  background: url('../img/icons/numbers.png') no-repeat top left;
  width: 55px;
  height: 55px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  &.seven {
    background-position: 0 0;
    width: 54px;
  }

  &.ten {
    background-position: -64px 0;
  }

  &.twelve {
    background-position: -129px 0;
    width: 54px;
  }

  &.fifteen {
    background-position: -193px 0;
  }

  &.eighteen {
    background-position: -258px 0;
    width: 54px;
  }

  &.twenty {
    background-position: -322px 0;
  }

  &.twenty_two {
    background-position: -387px 0;
  }
}

.hit {
  &::before {
    content: "";
    position: absolute;
    width: 103px;
    height: 37px;
    top: 50%;
    left: -15px;
    margin-top: -18px;
    background: url("../img/icons/hit.png") no-repeat;
  }
}

.g-marker {
  display: block;
  background: url("../img/icons/icons.png") no-repeat;
  width: 29px;
  height: 43px;
  margin: 0 auto;
}

.bottom-shadow {
  -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .6);
  -moz-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .6);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .6);
}

.btn-shadow {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .25);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .25);
  &:hover {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
}

//ANIMATION
.animated {
  opacity: 0;
}
.in-stock {
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: 1.2em;
  color: #15cb05;
  font-weight: 700;
  &::before {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    background: url("../img/icons/icons.png") 0px -88px;
    left: -22px;
    top: 5px;
    @media only screen and(max-width: $screen-md-min) {
      top: 0;
    }
  }
}

.counter {
  overflow: hidden;
  padding-top: 1em;
  min-height: 380px;
  padding-bottom: 2em;
  max-width: 830px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .2);
  .counter-header {
    text-align: center;
    .heading {
      color: $orange-color;
      font-size: 3em;
      margin: 0;
      text-transform: capitalize;
    }
  }
  .subheader {
    font-size: 1.7em;
    line-height: .8;
    margin-top: .5em;
  }
  del {
    font-weight: 300;
  }
  .low-price {
    margin-left: 5px;
    font-size: 170%;
    font-weight: 700;
  }
  img {
    text-align: right;
  }
  .offer-block {
    margin-top: 1em;
  }
  .clock-module {
    min-height: 130px;
    min-width: 305px;
    //box-shadow: 0 0 0 1px red; //TEMP
    display: inline-block;
    text-align: left;
    &.clock-top, &.clock {
      max-width: 305px;
      min-width: 305px;
      margin: 1em auto;
      .hours {
        .flip-clock-label {
          right: -72px;
        }
      }
      .minutes {
        .flip-clock-label {
          right: -74px;
        }
      }
      .seconds {
        .flip-clock-label {
          right: -76px;
        }
      }
    }
  }
  .form-container {
    max-width: 775px;
    margin: 5px auto 0;
    text-align: center;
  }
  .form-send {
    padding: 0;
  }
  input[type="text"] {
    height: 3.6em;
    font-size: 1em;
    padding-left: 1.5em;
    width: 100%;
  }
  input {
    margin-bottom: 5px;
  }

  //SMALL

  @media only screen and(max-width: $screen-md-min) {
    .offer-block {
      text-align: center;
    }
    .btn-lg, input[type="text"] {
      width: 95%;
    }
  }
}
