//BLOCK-7
.howwework-section {
  padding-top: 2.1em;
  padding-bottom: 5.5em;
  background: url("../img/block-prod-bg.jpg") repeat;
  .work-trace {
    list-style: none;
    padding-left: 0;
    text-align: center;
  }
  .work-step {
    display: none;
    vertical-align: text-top;
    max-width: 18em;
    width: 100%;
    min-height: 35.5em;
    margin-right: 15px;
    &:nth-last-child(1) {
      margin-right: 0;
      .img-container::after {
        display: none;
      }
    }
    &.active {
      display: inline-block;
      opacity: 1 !important;
    }
  }
  .img-container {
    position: relative;
    max-width: 160px;
    max-height: 160px;
    margin: 6.8em auto 3em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
    .spacer {
      padding-top: 100%;
    }
    &::after {
      content: "";
      position: absolute;
      right: -5.3em;
      top: 50%;
      background: url('../img/icons/icons.png') no-repeat -1px -117px;
      width: 32px;
      height: 56px;
      margin-top: -28px;
      display: block;
    }
  }
  .work-step {
    &.step-one {
      cursor: pointer;
      .img-container {
        background: url("../img/howwork/frame10.jpg") no-repeat center;
        background-size: 100%;
      }
      &.move {
        .img-container {
          background: url("../img/howwork/frame11.png") no-repeat center;
          background-size: 100%;
        }
      }
    }
    &.step-two {
      .img-container {
        background: url("../img/howwork/frame20.jpg") no-repeat center;
        background-size: 100%;
      }
      &.move {
        .img-container {
          background: url("../img/howwork/frame21.png") no-repeat center;
          background-size: 100%;
        }
      }
    }
    &.step-three {
      .img-container {
        background: url("../img/howwork/frame30.jpg") no-repeat center;
        background-size: 100%;
      }
      &.move {
        .img-container {
          background: url("../img/howwork/frame31.png") no-repeat center;
          background-size: 100%;
        }
      }
    }
    &.step-four {
      .img-container {
        background: url("../img/howwork/frame40.jpg") no-repeat center;
        background-size: 100%;
      }
      &.move {
        .img-container {
          background: url("../img/howwork/frame41.jpg") no-repeat center;
          background-size: cover;
        }
      }
    }
  }
  .legend {
    font-size: 1.2em;
  }
}

//END