@font-face{font-family:"KELSON SANS BOLD RU_0";src:url('../fonts/KELSON SANS BOLD RU_0.otf');}
@font-face{font-family:"KELSON SANS BOLD";src:url('../fonts/KELSON SANS BOLD.otf');}
@font-face{font-family:"KELSON SANS LIGHT RU_0";src:url('../fonts/KELSON SANS LIGHT RU_0.otf');}
@font-face{font-family:"KELSON SANS LIGHT";src:url('../fonts/KELSON SANS LIGHT.otf');}
@font-face{font-family:"KELSON SANS REGULAR RU_0";src:url('../fonts/KELSON SANS REGULAR RU_0.otf');}
@font-face{font-family:"KELSON SANS REGULAR_0";src:url('../fonts/KELSON SANS REGULAR_0.otf');}